<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }} | {{ site.name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">


  </head>
  <body class="layout-base">
    <header>
      <h1>{{ site.name }}</h1>
      {% include "nav.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <small>&copy; {{ "now" | date("%Y") }} {{ site.name }}</small>
    </footer>
  </body>
</html>
